
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --quizBackground: rgba(83, 76, 114, 0.445);
}

.style-body {
    background-color: var(--quizBackground);
    min-height:100%;
}

.style-header {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.position-body {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;
}


.intro-card {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding:4%;
    position:absolute;
    top:200px;
    border: 1px solid black;
    width:80%;
}

.title {
    padding:10px;
}


  